@import url('https://fonts.googleapis.com/css?family=Montserrat');

form {
  width: 100%;
  width:340px;
  height:440px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position: relative;
}

input {
  width: 100%;
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2;
}

textarea {
  width: 100%;
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2;
}

input:focus {
  border-bottom:2px solid #78788c;
}

label:before {
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a;
}

#sub-btn {
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s;
}

#sub-btn:hover {
  background:#78788c;
  color:#fff;
}

.site-block {
  width: 100%;
  margin: auto;
}

.title-block {
  position: relative;
  width: 100%;
}

.title-block .title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: auto;
  color: white;
}

.title-block .expand {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  margin: auto;
  color: white;
}


.container {
  width: 100%;
  position: relative;
}

.expand {
  color: white;
  cursor: pointer;
}

.expand:hover {
  color: red;
}

#img_block {
  width: 50%;
}

img {
  width: 100%;
}

.content {
  background: #afafaf57;
}

.hello {
  display: inline-block;
  width: 100%;
}

.hello_block {
  width: 32%;
  display: inline-block;
  vertical-align: middle;
}


.btn {
  background: #3498db;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  width: 50%;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.social {
  display: inline-block;
  width: 25%;
  text-align: center;
  margin: auto;
}

.social-link {
  width: 25%;
  display: inline-block;
}

#contact {
  position: fixed;
  top: 0;
  /*left: 25%;*/
  width: 100%;
  background: #9e9e9e91;
}

#close {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
}